/*reset default settings*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 28px;
    font-weight: bold;
    background: #cc3737;
}
/*clock-section*/
#clock-section{
    text-align: center;
    color: white;
    width: 500px;
    margin: 100px auto;
    
}
/*clock-section .session-and-break-options*/
.session-and-break-options input[type="range"]{
    width: 240px;
}
.session-and-break-options .clock-option{
    margin: 2px;
    display: inline-block;
}
.session-time{
    color: #41d441;
}
.break-time{
    color: #41d441;
}
/*clock-section .display-countdown*/
.display-countdown{
    margin: 25px 0;
}
.time-remaining{
    color: #41d441;
}
/*clock-section .countdown-controls*/
.countdown-controls div{
    transition: transform 0.3s;
}
.countdown-controls div:hover{
    color:black;
    cursor: pointer;
    transform: scale(1.1);
}
.countdown-controls div:active{
    transform: translateY(2px);
}
.countdown-controls{
    margin: 25px 0;
}
.countdown-controls div{
    width: 245px;
    display:inline-block;
}